@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  background: #02171f;
  color: #f3f4f6;
  font-family: 'ariel', Arial, Helvetica, sans-serif;
}

@layer utilities {
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(150%);
    }
  }
  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .animate-blink {
    animation: blink 3.8s step-end infinite;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2s ease, transform 2s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}
